.quote-container {
  background-color: #072e22;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 3rem 0;
}

.quote-container h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1px;
}

.quote-container h3 {
  font-weight: 400;
}

.quote-icon {
  margin-top: -50px;
  font-size: 80px;
  margin-bottom: -50px;
}
