.motto-container {
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.motto-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motto-header h1 {
  font-size: 2.5rem;
  text-align: center;
}

.motto-content p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 10px 0;
}

.motto-header svg {
  margin-top: -10px;
  height: 30px;
}

.motto-content {
  margin-top: 30px;
}

.pencil-line {
  margin: 20px 0;
  opacity: 0.7;
}

.pencil-line rect {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 3s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 768px) {
  .motto-header h1 {
    font-size: 2rem;
  }

  .motto-header svg {
    height: 20px;
  }

  .motto-content p {
    font-size: 1.2rem;
  }

  .pencil-line {
    margin: 15px 0;
  }
}

@media (max-width: 480px) {
  .motto-header svg {
    height: 20px;
  }
  .motto-header h1 {
    font-size: 1.5rem;
  }

  .motto-content p {
    font-size: 1rem;
  }
}
